<div class="container" >
  <div class="row">
    <div class="col">
      <h1>アカウント一覧</h1>
      <table>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= image_tag account.get_profile_image(100,100) %></td>
            <td><%= account.name %></td>
            <td><%= link_to "アカウント詳細", admin_account_path(account.id),class:"btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= paginate @accounts, theme: 'bootstrap-5'  %>