<div class="container">
  <div class="row">
    <h4>タグ一覧</h4>
  </div>
  <div>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%# タグの名前と、関連付く記事数を表示 %>
          <%= link_to "#{tag.name} ( 関連イラスト数: #{tag.illustrations.where(is_draft: false).count} 件)", tag_path(tag) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= paginate @tags, theme: 'bootstrap-5'  %>