<div class="container">
  <div class="row">
    <h1>タグ詳細</h1>
    <h2>Actions --></h2>
    <%= link_to 'Tags List', tags_path %>
    <%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>
    <h2>Tag --></h2>
    <%# タグ名 %>
    <h3><%= @tag.name %></h3>
    <%# タグに関連付く記事一覧 %>
    <ul>
      <% @tag.illustrations.each do |illustration| %>
        <li>
          <%= link_to illustration.title, illustration_path(illustration) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>