<div class="container">
  <div class="row">
    <h4>タグ詳細</h4>
  </div>
  <div class="row">
    <%= link_to 'タグ一覧', tags_path, class:"btn btn-secondary" %>
  </div>
  <div class="row">
    <h4>タグ名</h4>
  </div>
  <div class="row">
    <%# タグ名 %>
    <h5><%= @tag.name %></h5>
  </div>
  <%= link_to '削除', tag_path(@tag), method: :delete, class:"btn btn-danger", data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>
  <div>
    <h5>関連イラスト</h5>
    <ul>
      <% @tag.illustrations.where(is_draft: false).each do |illustration| %>
        <li>
          <%= link_to illustration.title, illustration_path(illustration),data: {"turbolinks"=>false} %>
        </li>
      <% end %>
    </ul>
  </div>
</div>