<div class="row">
    <h5>イラスト</h5>
    <%= illustration.file_field :image, accept: "image/*" %>
</div>
<div class="row">
    <h5>タイトル名</h5>
    <%= illustration.text_field :title %>
</div>
<div class="row">
    <h5>説明</h5>
    <%= illustration.text_area :introduction %>
</div>
<div class="row">
    <h5>タグ</h5>
    <%# Edit用に@illustration.tags.pluck(:name)でタグの配列を取得 %>
    <%= illustration.text_field :tag, value: @illustration.tags.pluck(:name) %><br>
    <small>スペースで区切ることで複数指定できます。</small><br>
</div>