<div class="container">
<div class="row">
<h4>イラスト一覧</h4>
<h1><%= link_to "+", new_illustration_path %></h1>
</div>
  <table class="table">
    <thead>
      <tr>
        <th>タイトル名</th>
      </tr>
    </thead>
    <tbody>
    <% @illustrations.each do |illustration| %>
      <tr>
        <td>
          <%= link_to illustration_path(illustration.id) do %>
            <%= illustration.title %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>