<div class="container">
  <div class="row">
    <h4>イラスト新規登録</h4>
  </div>
  <div class="row">
    <%= form_with model: @illustration do |illustration| %>
      <%= render 'form', illustration: illustration %>
    <% end %>
  </div>
</div>